
# Mac-specific
.DS_Store

# Windows-specific
FreeImage.dll
*.sdf
*.suo
code/game/win32/Debug
code/lib/bullet/out

# Build files
*.o
*.obj
*.exe
golf
*.a
*.lib
*.dll
*.so
*.dylib
build/
dist/
*.tmp
*.log

# IDE files
*.user
*.vcxproj.filters
*.vcxproj
